@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
	exclude: rootscrollgutter;
}

@plugin "daisyui/theme" {
	name: 'custom';
	default: false;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(27.49% 0.0188 258.37);
	--color-base-200: oklch(23.49% 0.0188 258.37);
	--color-base-300: oklch(20.49% 0.0188 258.37);
	--color-base-content: oklch(94.9119% 0 0);
	--color-primary: oklch(27.49% 0.0188 258.37);
	--color-primary-content: oklch(94.9119% 0 0);
	--color-secondary: oklch(36.23% 0.0154 259.81);
	--color-secondary-content: oklch(94.9119% 0 0);
	--color-accent: oklch(67.99% 0.1155 200.65);
	--color-accent-content: oklch(94.9119% 0 0);
	--color-neutral: oklch(94.9119% 0 0);
	--color-neutral-content: oklch(27.49% 0.0188 258.37);
	--color-info: oklch(67.99% 0.1155 200.65);
	--color-info-content: oklch(97% 0.013 236.62);
	--color-success: oklch(67.99% 0.1155 200.65);
	--color-success-content: oklch(97% 0.013 236.62);
	--color-warning: oklch(67.99% 0.1155 200.65);
	--color-warning-content: oklch(98% 0.022 95.277);
	--color-error: oklch(67.99% 0.1155 200.65);
	--color-error-content: oklch(97% 0.014 343.198);
	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.3rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@theme {
	--default-font-family: 'Source Sans 3', 'sans-serif';
	--animate-fly-left: flyLeft 0.4s cubic-bezier(0.22, 0.61, 0.36, 1),
		fadeIn 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	--animate-fly-left-slow: flyLeft 0.7s cubic-bezier(0.22, 0.61, 0.36, 1),
		fadeIn 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);

	--animate-fly-right: flyRight 0.4s cubic-bezier(0.22, 0.61, 0.36, 1),
		fadeIn 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	--animate-fly-right-slow: flyRight 0.7s cubic-bezier(0.22, 0.61, 0.36, 1),
		fadeIn 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);

	--animate-fly-out: flyOut 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) both,
		fadeOut 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	--animate-fly-out-slow: flyOut 0.7s cubic-bezier(0.22, 0.61, 0.36, 1) both,
		fadeOut 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);

	--animate-fly-up: flyUp 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.27),
		fadeIn 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
	--animate-fly-down: flyDown 0.4s 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.27) both,
		fadeIn 0.4s 0.2s cubic-bezier(0.22, 0.61, 0.36, 1) both;
	--animate-fade-in: fadeIn 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

	@keyframes flyLeft {
		0% {
			opacity: 0;
			transform: translateX(-40px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes flyLeft {
		0% {
			opacity: 0;
			transform: translateX(40px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes flyOut {
		0% {
			opacity: 1;
			transform: translateX(0px);
		}
		100% {
			opacity: 0;
			transform: translateX(-40px);
		}
	}
	@keyframes fadeIn {
		0% {
			filter: blur(8px);
		}
		100% {
			filter: blur(0px);
		}
	}
	@keyframes fadeOut {
		0% {
			filter: blur(0px);
		}
		100% {
			filter: blur(8px);
		}
	}
	@keyframes flyUp {
		0% {
			opacity: 0;
			transform: translateY(40px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes flyDown {
		0% {
			opacity: 0;
			transform: translateY(-40px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	/* --animate-fadeInUp: fadeInUp 0.5s;
	--animate-fadeInUp-slow: fadeInUp 0.8s;
	@keyframes fadeInUp {
		0% {
			filter: blur(12px);
			opacity: 0;
			transform: translateY(20%);
		}
		100% {
			filter: blur(0px);
			opacity: 1;
			transform: translateY(0);
		}
	}
	--animate-blur-in: blur-in 1s;
	@keyframes blur-in {
		0% {
			filter: blur(12px);
			opacity: 0;
		}
		100% {
			filter: blur(0px);
			opacity: 1;
		}
	}
	--animate-slide-in-focus-right: slide-in-focus-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	--animate-slide-in-focus-right-slow: slide-in-focus-right 0.8s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	@keyframes slide-in-focus-right {
		0% {
			filter: blur(12px);
			transform: translateX(-20%);
			opacity: 0;
		}
		100% {
			filter: blur(0px);
			transform: translateX(0);
			opacity: 1;
		}
	} */
}

// Daisyui Overrides
.btn-ghost:hover {
}

.btn {
	&:focus-visible {
		@apply bg-transparent outline-2;
	}
}

.btn-primary {
	&:focus-visible {
		@apply bg-primary border-transparent;
	}
}

.btn-ghost {
	&:hover {
		@apply border-transparent bg-neutral-300;
	}
}

/* .btn:hover {
	@apply border-transparent bg-neutral-300;
} */

/* .btn:focus {
	@apply border-transparent bg-neutral-300;
} */

// Animations
// TODO: Rewrite transitions using svelte
@layer utilities {
	@keyframes fadeInUp {
		0% {
			filter: blur(12px);
			opacity: 0;
			transform: translateY(20%);
		}
		100% {
			filter: blur(0px);
			opacity: 1;
			transform: translateY(0);
		}
	}
	.fadeInUp {
		animation: fadeInUp 0.8s;
	}
}
