<div>
	<div x-data x-intersect:enter='$el.classList.add("animate-fly-left")'>
		<h2>
			<slot name='heading' />
		</h2>
	</div>
	<div x-data x-intersect:enter='$el.classList.add("animate-fly-left-longer")'>
		<p>
			<slot name='body' />
		</p>
	</div>
</div>
