<div>
	<div x-data='{ show: false}' x-intersect:enter='show = true' :class="show && 'animate-fly-left'">
		<h2>
			<slot name='heading' />
		</h2>
	</div>
	<div
		x-data='{ show: false}'
		x-intersect:enter='show = true'
		:class="show && 'animate-fly-left-slow'"
	>
		<p>
			<slot name='body' />
		</p>
	</div>
</div>
