<div>
	<div x-data x-intersect:enter='$el.classList.add("animate-slide-in-focus-right")'>
		<h2>
			<slot name='heading' />
		</h2>
	</div>
	<div x-data x-intersect:enter='$el.classList.add("animate-slide-in-focus-right-slow")'>
		<p>
			<slot name='body' />
		</p>
	</div>
</div>
