<!-- You can open the modal using ID.showModal() method -->
<button class='btn' onclick='navMenu.showModal()'>open modal</button>
<dialog id='navMenu' class='modal'>
	<div class='modal-box bg-neutral size-full max-h-screen max-w-screen rounded-none'>
		<form method='dialog'>
			<button class='btn btn-sm btn-circle btn-ghost text-primary absolute top-2 right-2'>✕</button>
		</form>
		<h3 class='text-primary text-lg font-bold'>Hello!</h3>
		<p class='text-primary py-4'>Press ESC key or click on ✕ button to close</p>
	</div>
</dialog>

<!-- <button class='btn' onclick='my_modal_1.showModal()'>open modal</button>
<dialog id='my_modal_1' class='modal'>
	<div class='modal-box bg-neutral size-full max-h-screen max-w-screen'>
		<h3 class='text-lg font-bold'>Hello!</h3>
		<p class='py-4'>Press ESC key or click the button below to close</p>
		<div class='modal-action'>
			<form method='dialog'>

				<button class='btn'>Close</button>
			</form>
		</div>
	</div>
</dialog> -->

<!-- <div x-data='{modal: false}'>
	<button class='btn btn-primary mb-3' @click='modal = !modal'>
		<span x-text='modal'></span>
	</button>
	<div class='pointer-events-none fixed start-0 z-[80] size-full overflow-x-hidden overflow-y-auto'>
    <div class="">

    </div>
	</div>
</div> -->

<!-- 
<div x-data="{modal: false}">
  <button class="btn btn-primary mb-3 scroll-lock" @click="modal = !modal" :aria-expanded="modal ? 'true' : 'false'">Modal example</button>
    <div class="modal-wrapper" :class="{ 'active': modal }">
      <div class="backdrop backdrop-shaded"></div>
      <div class="modal-panel m-3 p-3 b-thin rounded bg-color-background" :class="{ 'active': modal }">
        <p>Modal content.</p>
        <button class="float-right scroll-unlock" @click="modal = false">Close</button>
      </div>
    </div>
  </div> -->
