---
import FullscreenModal from '../components/FullscreenModal.astro';
import Header from '../components/Header.astro';
import '../style/global.css';
// import '@fontsource-variable/source-sans-3';
---

<!doctype html>
<html lang='en' data-theme='custom' class='scroll-smooth'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>Southern MN TCT</title>
		<link rel='stylesheet' href='/styles/leaflet.css' />
		<script is:inline src='/js/leaflet.js'></script>
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'
			rel='stylesheet'
		/>
	</head>
	<body class='overflow-x-hidden'>
		<Header />
		<FullscreenModal />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
